viewmodel-editor {
	display: block;

	h1 {
		text-align: center;
	}

	button {
		background-color: #3883fa;
		color: #ffffff;
		margin: 8px 0;
		padding: 4px;
		font-weight: bold;
		font-size: 120%;
	}
}
