@import '../styles.less';

components-tree-view {
	.tag {
		cursor: pointer;
		color: @tag-color;

		&.level-1 {
			margin-left: @half-unit;
			color: @l1-color;
		}

		&.level-2 {
			margin-left: @base-unit;
			color: @l2-color;
		}

		span {
			color: @med-gray;
		}
	}
}
