@import '../styles.less';

expandable-section {
	& > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #F4F4F4;
		transition: .1s all ease-in-out;

		.title {
			display: flex;
			align-items: center;
			justify-content: left;
			width: 100%;
			padding: @sm-unit @third-unit;
			border-bottom: 1px solid #d0d0d0;
			flex-shrink: 0; // needed for scrollbar
			@media (prefers-color-scheme: dark) {
				border-bottom-color: #3D3D3D;
			}
			p {
				margin: 0;
				padding: 0;
				font-size: @font-base;

				&.not-collapsible {
					margin-left: (14 + (2 * @sm-unit)) * 1px;
				}
			}
		}

		&.collapsible {
			@media (prefers-color-scheme: dark) {
				background-color: #333333;
			}
		}

		&.collapsible:hover {
			background-color: #E0E0E0;
			@media (prefers-color-scheme: dark) {
				background-color: #000;
			}
		}

		.content-container {
			display: none;
			padding: @sm-unit;
			&.expanded {
				display: flex;
				flex-direction: column;
				background: #FFFFFF;
				@media (prefers-color-scheme: dark) {
					background-color: #242424;
				}
				border-top: none;
				overflow-y: auto; // needed for scrollbar
				flex-grow: 1; // needed for scrollbar
			}
		}
	}
}
