@import '../styles.less';
todo-list {
	div {
		margin: @third-unit @half-unit;
	}
	
}
canjs-devtools-panel {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-height: 300px;
    min-height: 300px;
    overflow: hidden;
	font-weight: 600;
	border-top: 2px solid @med-gray;

	margin: 0;
	padding: 0;
	.header, .filters, .tabs {
		align-self: center;
		height: @base-unit*1.5;
		padding: @third-unit @base-unit;
	}
	.header {
		border-bottom: 1px solid @black;

		> h1 {
			color: @brand-color;
			font-weight: bold;
			text-align: left;
		}
		> h2 {
			text-align: left;
		}

	}

	.filters {
		border-bottom: 1px solid @black;
		padding: @sm-unit @base-unit;

		input {
			min-width: 200px;
		}
	}

	.tabs {
		display: inline-block;
		border-bottom: 1px solid @black;
		text-align: right;
		cursor: default;
		p {
			display: inline-block;
			margin: 0 @third-unit;
			cursor: pointer;
			border-bottom: 2px dotted @gray;
			transition: border-bottom .5s ease-in-out;
			&:hover {
				border-bottom: 2px solid @action-color;
			}
			&.selected {
				font-weight: bold;
				color: @action-color;
				border-bottom: none;
				&:hover {
					border-bottom: none;
				}
			}
		}
	}

	.grid-container {
		max-height: 300px;
		min-height: 300px;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: 1fr 5fr;
		grid-template-areas: 
		"header header header filters filters filters tabs tabs"
		"content content content content content sidebar sidebar sidebar";

		.header {
			grid-area: header;
		}

		.filters {
			grid-area: filters;
		}

		.tabs {
			grid-area: tabs;
		}

		.content {
			grid-area: content;
			padding: @third-unit @base-unit;
			line-height: 1.5;
		}

		.sidebar {
			grid-area: sidebar;
			overflow-y: scroll;
			line-height: 1.5;
			padding: @third-unit @half-unit;
			box-shadow: -@sm-unit 0 @half-unit -@sm-unit rgba(0,0,0,.25);
		}
	}
}
