@import '../styles.less';

todo-list {
	div {
		margin: @third-unit @half-unit;
	}
}

.arrow-toggle {
	content: '';
	display: inline-flex;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 14px solid @base-color;
	transform-origin: center center;
	margin-right: 15px;

	&.right {
		transform: rotate(0deg);
	}

	&.down {
		transform: rotate(90deg);
	}
}

canjs-devtools-panel {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-height: 300px;
    min-height: 300px;
    overflow: hidden;
	font-weight: 600;
	border-top: 2px solid @med-gray;

	margin: 0;
	padding: 0;

	.grid-container {
		max-height: 300px;
		min-height: 300px;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: 1fr;
		grid-template-areas:
		"tree-view tree-view tree-view tree-view tree-view sidebar sidebar sidebar";

		.tree-view {
			grid-area: tree-view;
			padding: @third-unit @base-unit;
			line-height: 1.5;
		}

		.sidebar {
			grid-area: sidebar;
			overflow-y: scroll;
			line-height: 1.5;
			padding: @third-unit @half-unit;
			box-shadow: -@sm-unit 0 @half-unit -@sm-unit rgba(0,0,0,.25);

			display: grid;
			grid-template-columns: 1fr;

			&.breakpoints-closed {
				grid-template-rows: 1fr 5fr;
			}

			&.breakpoints-open {
				grid-template-rows: 4fr 2fr;
			}

			grid-template-areas:
				"breakpoints"
				"viewmodel-editor";

			.viewmodel-editor {
			}

			.breakpoints {
				&.closed p {
					font-size: @font-lg;
				}
			}
		}
	}
}
